@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    <div class="col-md-3">
        <h2>JWTExample</h2>
        <ul>
            <li>Sample pages using ASP.NET Core MVC</li>
        </ul>
    </div>
</div>
